@model IEnumerable<Yakuza.Models.Platillo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombrePlatillo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcionPlatillo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calificacionPlatillo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroVisitas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagenPlatillo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais.nombrePais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombrePlatillo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionPlatillo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calificacionPlatillo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroVisitas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagenPlatillo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais.nombrePais)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPlatillo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPlatillo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPlatillo })
        </td>
    </tr>
}

</table>
