@model Yakuza.Models.Precio

@{
    ViewBag.Title = "Delete";
}

<br /><br /><br /><br /><br /><br />
<h3>Are you sure you want to delete this?</h3>
<div class="well">
    <h4>Precio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcionPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionPrecio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadPrecio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Platillo.nombrePlatillo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Platillo.nombrePlatillo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
