@model Yakuza.Models.Tag

@{
    ViewBag.Title = "Details";
}



<br /><br /><br /><br /><br /><br /><br />

<div class="well">
    <h4>Tag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcionTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Platillo.nombrePlatillo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Platillo.nombrePlatillo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTag }) |
    @Html.ActionLink("Back to List", "Index")
</p>
