@model IEnumerable<Yakuza.Models.Platillo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br /><br /><br /><br /><br /><br /><br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container well">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombrePlatillo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calificacionPlatillo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroVisitas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais.nombrePais)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombrePlatillo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.calificacionPlatillo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroVisitas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pais.nombrePais)
                </td>
                <td>
                    @Ajax.ActionLink("Mostrar Detalles Extendidos", "DetallesParcial", "MaestroDetallePlatillo", new { idPlatillo = item.idPlatillo }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divDetallesPlatillo" })
                </td>
            </tr>
        }

    </table>
</div>

<br /><br />

<div id="divDetallesPlatillo" class="well"> </div>
